<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/browse.css" rel="stylesheet" />
    <link href="~/Content/frontend-forms.css" rel="stylesheet" />
    <link href="~/Content/info_message.css" rel="stylesheet" />
    <link href="~/Content/layouts_application.css" rel="stylesheet" />
    <link href="~/Content/pagination.css" rel="stylesheet" />
</head>
<body>
    <header class="main-header clearfix  ">
        <div class="container">
            <div class="fl">
                <h1>
                    <a href="/" class="ir" style="">Donar</a>
                </h1>
            </div>
            <nav class="main-menu">
                <ul id="menu" class="fl clearfix">
                    <li class="fl">@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="fl">@Html.ActionLink("Sobre el proyecto", "About", "Home")</li>
                    <li class="fl">@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>

                @Html.Partial("_LoginPartial")

            </nav>
        </div>
        <div class="content-wrapper">
            <!--TEMP TEMP-->
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Don-Ar</p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>